* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #1a1a1a;
}
.container .wrapper header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
.container .wrapper header a {
  text-decoration: none;
}
.container .wrapper header .logo {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.container .wrapper header .logo p {
  margin-bottom: 0;
  font-weight: 200;
  font-size: 40px;
  color: #c2c2c2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: initial;
}
.container .wrapper header .logo img {
  width: 70px;
  height: 70px;
}
.container .wrapper nav ul {
  display: flex;
  flex-direction: row;
  gap: 46px;
  list-style-type: none;
}
.container .wrapper nav ul li .activeLink {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 3px;
}
.container .wrapper nav ul li a {
  font-weight: 400;
  font-size: 24px;
  color: #c2c2c2;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container .wrapper nav ul li:hover .activeLink {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 3px;
}
.container .wrapper nav ul li:hover a {
  color: #ffffff;
  transition: 0.5s;
}
.container .wrapper .navBar {
  display: none;
}
.container .wrapper .navBar .nav-button {
  background-color: #1a1a1a;
}
.container .wrapper .navBar .nav-button i {
  color: white;
}
.container .wrapper .cart button {
  background-color: inherit;
  border: none;
  width: 30px;
}
.container .wrapper .cart button i {
  text-align: end;
  color: #c2c2c2;
  font-size: 34px;
}

@media (max-width: 768px) {
  .container .wrapper header .navBar {
    display: block;
  }
  .container .wrapper header .navBar button {
    border: none;
    width: 52px;
  }
  .container .wrapper header .navBar button i {
    font-size: 34px;
    cursor: pointer;
  }
  .container .wrapper header nav {
    display: none;
  }
  .container .wrapper header .cart img {
    display: none;
  }
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  max-width: 1440px;
  padding: 0 140px;
  margin: auto;
}

body {
  background-color: #ffffff;
}

button {
  transition: 0.5s;
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
    padding: 0 65px;
    margin: auto;
  }
}
.containerFooter {
  background: #1a1a1a;
}
.containerFooter .wrapper footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
.containerFooter .wrapper footer .logo {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.containerFooter .wrapper footer .logo p {
  margin-bottom: 0;
  font-weight: 200;
  font-size: 40px;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.containerFooter .wrapper footer .logo img {
  width: 70px;
  height: 70px;
}
.containerFooter .wrapper footer p {
  color: #fff;
  margin-bottom: 0;
  font-style: normal;
}
.containerFooter .wrapper footer .social {
  display: flex;
  flex-direction: row;
  gap: 27px;
}
.containerFooter .wrapper footer .social .socialButton {
  background-color: #ffffff;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  width: 60px;
  display: flex;
  flex-direction: column;
}
.containerFooter .wrapper footer .social .socialButton i {
  font-size: 30px;
  color: #000000;
  justify-content: center;
  align-items: center;
}
.containerFooter .wrapper footer .social .socialButton:hover {
  background-color: #000;
  border: 1px solid #fff;
  transition: 0.5s;
}
.containerFooter .wrapper footer .social .socialButton:hover i {
  color: #fff;
}

@media (max-width: 768px) {
  .containerFooter .wrapper footer {
    padding: 25px 0px;
  }
  .containerFooter .wrapper footer .logo {
    display: none;
  }
}
.navigationBarModal {
  display: none;
  background-color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 45px 65px;
  z-index: 15;
}
.navigationBarModal .navHead {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navigationBarModal .navHead i {
  cursor: pointer;
  font-size: 40px;
}
.navigationBarModal nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.navigationBarModal nav a {
  font-size: 30px;
  color: #1a1a1a;
  text-decoration: none;
  text-underline-offset: 5px;
}
.navigationBarModal nav .activeLink {
  text-decoration: underline;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 900;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modalPerf {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 40%;
  max-height: 80vh;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalPerf.active {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%) scale(1);
}

.modalPerf .prefHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modalPerf .prefHead h3 {
  font-size: 24px;
  margin: 0;
}

.modalPerf .btnClose {
  cursor: pointer;
  font-size: 24px;
  color: #333;
  transition: 0.2s;
}

.modalPerf .btnClose:hover {
  color: #000;
  transform: scale(1.1);
}

.boxPref {
  flex: 1;
  max-height: 500px;
  overflow-y: auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.prodPref {
  display: flex;
  gap: 12px;
  padding: 10px 5px;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(161, 161, 161);
}
.prodPref .removeItem {
  background-color: inherit;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 24px;
  line-height: 10px;
}

.prodImg img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.prodText {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.prodText h4 {
  margin: 0 0 4px 0;
  font-size: 20px;
}

.prodText p {
  margin: 0;
  font-size: 18px;
  color: #666;
}

body.modal-open {
  overflow: hidden;
}

.order {
  margin-top: 30px;
  border: 3px solid #1a1a1a;
  border-radius: 10px;
  padding: 12px 30px;
  width: 200px;
  background: #ffffff;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}

.order:hover {
  background: #1a1a1a;
  color: #ffffff;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .modalPerf {
    width: 80%;
  }
}
main {
  display: flex;
  gap: 100px;
}
main aside .search {
  width: 273px;
  height: 48px;
  padding: 15px 10px 10px;
  margin: 45px 0;
  border: 3px solid #1a1a1a;
  border-radius: 10px;
  background: #fff;
}
main aside .search::-moz-placeholder {
  font-size: 24px;
  font-weight: 700;
  color: #1a1a1a;
}
main aside .search::placeholder {
  font-size: 24px;
  font-weight: 700;
  color: #1a1a1a;
}
main aside .blockKind,
main aside .blockContry {
  margin-bottom: 30px;
}
main aside .blockKind h2,
main aside .blockContry h2 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #1a1a1a;
}
main aside .blockKind .check,
main aside .blockContry .check {
  display: flex;
  flex-direction: column;
}
main aside .blockKind .check .label,
main aside .blockContry .check .label {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  color: #1a1a1a;
}
main article .filter {
  margin: 45px 0;
  display: flex;
}
main article .filter .sort-select {
  width: 273px;
  height: 48px;
  padding: 5px 10px;
  border: 3px solid #1a1a1a;
  border-radius: 10px;
  background: #fff;
  font-size: 24px;
  font-weight: 700;
  color: #1a1a1a;
}
main article .catalogeProd {
  margin: 45px 0 65px;
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
}
main article .catalogeProd .boxProd img {
  width: 224px;
  height: 224px;
  margin-bottom: 5px;
  border: 1px solid #000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
main article .catalogeProd .boxProd p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-align: justify;
}
main article .catalogeProd .boxProd .priceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main article .catalogeProd .boxProd .priceBox p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #008161;
}
main article .catalogeProd .boxProd .priceBox button {
  width: 115px;
  height: 35px;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  border: 3px solid #ffcc16;
  background: #ffcc16;
  color: #fff;
  cursor: pointer;
}
main article .catalogeProd .boxProd .priceBox button:hover {
  background: #fff;
  border-color: #1a1a1a;
  color: #1a1a1a;
  transition: 0.5s;
}

@media (max-width: 768px) {
  main aside {
    display: none;
  }
  main article .filter .sort-select {
    width: 233px;
  }
  main article .catalogeProd {
    justify-content: center;
  }
}