.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 900;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modalPerf {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 40%;
  max-height: 80vh;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalPerf.active {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%) scale(1);
}

.modalPerf .prefHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modalPerf .prefHead h3 {
  font-size: 24px;
  margin: 0;
}

.modalPerf .btnClose {
  cursor: pointer;
  font-size: 24px;
  color: #333;
  transition: 0.2s;
}

.modalPerf .btnClose:hover {
  color: #000;
  transform: scale(1.1);
}

.boxPref {
  flex: 1;
  max-height: 500px;
  overflow-y: auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.prodPref {
  display: flex;
  gap: 12px;
  padding: 10px 5px;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(161, 161, 161);
}
.prodPref .removeItem {
  background-color: inherit;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 24px;
  line-height: 10px;
}

.prodImg img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.prodText {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.prodText h4 {
  margin: 0 0 4px 0;
  font-size: 20px;
}

.prodText p {
  margin: 0;
  font-size: 18px;
  color: #666;
}

body.modal-open {
  overflow: hidden;
}

.order {
  margin-top: 30px;
  border: 3px solid #1a1a1a;
  border-radius: 10px;
  padding: 12px 30px;
  width: 200px;
  background: #ffffff;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}

.order:hover {
  background: #1a1a1a;
  color: #ffffff;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .modalPerf {
    width: 80%;
  }
}