@use "veriables";

.containerFooter {
  background: #1a1a1a;
  .wrapper {
    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 0;
      align-items: center;

      .logo {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;

        p {
          margin-bottom: 0;
          font-weight: 200;
          font-size: 40px;
          color: #fff;
          font-family: veriables.$head-font;
        }
        img {
          width: 70px;
          height: 70px;
        }
      }

      p {
        color: #fff;
        margin-bottom: 0;
        font-style: normal;
      }

      .social {
        display: flex;
        flex-direction: row;
        gap: 27px;
        .socialButton {
          background-color: #ffffff;
          cursor: pointer;
          padding: 15px;
          border-radius: 50%;
          width: 60px;
          display: flex;
          flex-direction: column;
          i {
            font-size: 30px;
            color: #000000;
            justify-content: center;
            align-items: center;
          }
        }

        .socialButton:hover {
          background-color: #000;
          border: 1px solid #fff;
          transition: 0.5s;
          i {
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .containerFooter {
    .wrapper {
      footer {
        padding: 25px 0px;

        .logo {
          display: none;
        }
      }
    }
  }
}
