*{
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
  max-width: 1440px;
  padding: 0 140px;
  margin: auto;
}
body{
  background-color: #ffffff;
}

button{
  transition: 0.5s;
}


@media (max-width: 768px) {
  .wrapper{
    max-width: 768px;
    padding: 0 65px;
    margin: auto;
  }
}
