@use "reset";
@use "veriables";
@use "header";
@use "general";
@use "footer";
@use "navBarModal";

.imgGreeting {
  background-image: url(../resource/font2.jpg);
  background-size: cover;
  margin-bottom: 75px;
  height: 451px;
}

.blockContact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 51px;

  img {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #000000;
    width: 629px;
    height: 394px;
  }

  .contactInfo {
    h2 {
      font-weight: 700;
      font-size: 36px;
      text-transform: uppercase;
      color: #1a1a1a;
      margin-bottom: 10px;
    }
    .boxInfo {
      margin-bottom: 16px;
      .nameInfo {
        font-weight: 700;
        font-size: 24px;
        text-align: justify;
        color: #1a1a1a;
      }
      .info {
        font-weight: 400;
        font-size: 24px;
        text-align: justify;
        color: #1a1a1a;
      }
    }
  }
}

@media (max-width: 768px) {
  .blockContact {
    flex-direction: column;
    gap: 50px;
  }
}
